<div class="mt-10">
  <div id="button-bar" class="">
    <.link patch={~p"/agents/new"}>
      <.button
        type="button"
        class="rounded-md bg-[#11b7c0] border-[1px] 
        border-[#2eb9c2] px-3 py-2 text-sm font-semibold 
        text-[#14b8c0] shadow-md ring-1 ring-inset
        ring-gray-300 bg-opacity-0 
        hover:bg-gray-200 
        active:text-[#14b8c0]"
      >
        + Add a new agent
      </.button>
    </.link>
  </div>
  <div id="map" class=""></div>
  <div id="stats" class=""></div>
  <div id="notifications" class=""></div>
</div>
