<div class="mt-10">
  <div id="button-bar" class="">
    <.link patch={~p"/agents/new"}>
      <.button
        type="button"
        class="rounded-md bg-[#11b7c0] border-[1px] 
        border-[#2eb9c2] px-3 py-2 text-sm font-semibold 
        text-[#14b8c0] shadow-md ring-1 ring-inset
        ring-gray-300 bg-opacity-0 
        hover:bg-gray-200 
        active:text-[#14b8c0]"
      >
        + Add a new agent
      </.button>
    </.link>
  </div>
  <div class="pt-10"></div> <!-- spacer -->
  <div id="map" class=""></div>

  <div id="stats" class="">
    <div id="card-1" class="overflow-hidden rounded-lg bg-[#e7ebf0] shadow-md">
      <div class="px-4 py-5 sm:p-6">
      <p>145</p>
        <p class="text-[#6e6e6e]">Agents in Network</p>
      </div>
    </div>

    <div class="pt-10"></div> <!-- spacer -->

    <div class="overflow-hidden rounded-lg bg-[#e7ebf0] shadow-md">
      <div class="px-4 py-5 sm:p-6">
        <p>24</p>
        <p class="text-[#6e6e6e]">Areas Covered</p>
      </div>
    </div>

    <div class="pt-10"></div> <!-- spacer -->

    <div class="overflow-hidden rounded-lg bg-[#e7ebf0] shadow-md">
      <div class="px-4 py-5 sm:p-6">
      <p>7</p>
        <p class="text-[#6e6e6e]">Deals Referred</p>
      </div>
    </div>
  </div>


<div class="pt-10"></div> <!-- spacer -->
  <div id="notifications" class=""></div>
  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-[#e7ebf0] shadow-md">
  <div class="px-4 py-5 sm:px-6">
    <p class="text-[#6e6e6e] font-semibold">Notifications Heading</p>
    <!-- We use less vertical padding on card headers on desktop than on body sections -->
  </div>
  <div class="px-4 py-5 sm:p-6">
    <p class="text-[#6e6e6e]">Notifications Body</p>
  </div>
</div>

</div>
